.casa{
	width: 100px;
	height: 100px;

	border-color: black;
	border-style: solid;
	border-width: 2px;

	background-size: cover;
	background-position: center;
}

.linha{
	display: inline-block;
}

main{
	width: 400px;
	margin-top: 80px;
	margin: auto;
	padding: 20px;
	border-radius: 20px;

	font-family: arial;
	text-align: center;

	background-color: white;
}

body{
	background-image: url(imagens/personagens.png);
	background-size: cover;
}